<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CV# APP</title>
    <link href="~/Content/Bootstrap4.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template -->
    <link href="~/Content/modern-business.css" rel="stylesheet" type="text/css" />
    <!--Style para Form CV#-->
    <link href="~/Content/CVStyle.css" rel="stylesheet" type="text/css" />
    <!--Font Asome CDN-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!-- Navigation PLANTILLA-->
    <nav class="navbar fixed-top navbar-expand-lg bg-dark  fixed-top ">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                @Html.ActionLink("CV#-APP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li class="nav-item mr-1">
                        @Html.ActionLink("Crear CV#", "CreateOrModifyCV", "Home")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Ver CV#", "ShowCV", "Home")
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Footer -->
    <div class="container body-content">
        <div class="container-fluid">
        @RenderBody()
        </div>
        <hr />
        <footer class="py-5 bg-dark">
            <p class="text-light m-0 text-center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>